@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* Resetando o layout inicial do HTML */
* {
    margin: 0px; /* Tira a margem */
    padding: 0px;
}
body {
    font: 500 1rem "Montserrat", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none; /* tirar o sublinhado */
}
img {
    display: block; 
    max-width: 100%; /* Aumenta sem perder a qualidade */
    overflow-clip-margin: content-box;
    overflow: clip;
}
* {
    box-sizing: border-box; /* Soma ao tamanho interno */
}
h2 {
    margin-bottom: 1rem;
    display: block;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: #f4f4f4;
    padding-top: 30px;
}
.grandeCafe {
    height: 671px;
    background-image: url(./cafe-assets/cup-coffee-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: auto;
}
.backgroundCafe {
    height: 671px;
    background-color: rgba(30, 30, 30, 0.5);
}
.menuItem {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* tentativa de mexer com o círculo que tem aqui */
.menuLogo {
    width: 50px;
    height: 50px;
    background-color: #efa331;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menuLogo img {
    height: 30px;
    width: auto;
}
.menuNav ul {
    display: flex;
    flex-wrap: wrap;
}
.menuNav ul li {
    font-weight: 600;
}
.menuNav a {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
    color: #EFA331;
}
.menuNav a:hover {
    color: #f4f4f4;
}
.buttonMenu {
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    background-color: #EFA331;
    color: #f4f4f4;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 10px 15px;
    border-radius: 5px;

}
.corpoCafe {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 1.2rem;
    text-align: right;
    margin-right: 55px;
    color: white;
    padding: 100px 30px 0 0;

    height: 50%;
    max-height: 00px;
}
.corpoCafe h1 {
    display: block;
    text-align: right;
    padding-left: 200px;
    font-size: 2.25em;
    font-weight: 800;
    text-transform: uppercase;
    color: #EFA331;
}
.corpoCafe h2 {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 1.35rem;
    text-align: right;
    margin-top: 10px;
    color: #FFFFFF;
}
.grandeCafe {
    display: block;
    align-items: flex-end;
}
.fimCapa {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
    gap: 10px;
}
.fimCapa h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 29px;
    text-align: right;
    margin-top: 150px;

    color: #FFFFFF;
}
.fimCapa button {
    font-size: 26px;
    font-weight: 700;
    background-color: #EFA331;
    color: #f4f4f4;
    margin: 0 20px 20px 0;
    cursor: pointer;
    border: 0px;
    padding: 10px;
    border-radius: 8px;
}

.back {
    flex-wrap: nowrap;
    background: linear-gradient(110deg, #1b1717 5%, #1d1d1d 15%, #453535 80%);
    height: auto;
}
/* Beneficios */
.ben {
    display: flex;
    padding: 60px 100px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}
.beneficios1 {
    border: 4px solid #EFA331;
    background: #EFA331;
    margin: 10px;
    width: 234px;
    height: 322px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    justify-content: center; 

}
.beneficios1 h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    margin: 25px auto;
}
.beneficios1 img {
    height: 40px;
    width: auto;

    margin-left: 90px;
}
.beneficios1 p {
    padding: 0 25px;
    margin: 30px 0;
    font-size: 1.15rem;
    font-weight: normal;
}
.subtitulo {
    text-align: center;
    font-size: 1.3rem;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    color: #f4f4f4;
}

/* Porque */
.texto-de-fundo {
    position: absolute;
    left: 49px;
    top: 1421px;
    font-family: 'Montaga';
    font-style: normal;
    font-weight: 400;
    font-size: 200px;
    line-height: 185px;
    text-align: center;
    color: rgba(255, 254, 254, 0.15);
    height: 100vh;
    width: 90vw;
    margin-top: 20vh;
    letter-spacing: 4vw;
}
.card-Pq {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 30px;
}
.card {
    width: 250px;
    height: 400px;
    text-align: center;
}
.card div {
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.num {
    width: 47px;
    margin: auto;
    font-size: 1.8rem;
    border: 3px solid #efa331;
    border-radius: 10px;
    color: #f4f4f4;

}
.num-mot h3 {
    margin: 30px 0px;
    color: #f4f4f4;
    font-size: 22px;
    font-weight: 300;
}
.card ul li {
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: space-around;
}
.card ul li::before {
    content: "• ";
    color: #efa331;
    font-size: 32px;
    font-weight: 700;
 }
.card img {
    width: 90%;
    text-align: center;
}
/* Relatos */
.relatoContainer {
    margin: auto;
    position: relative;
    max-width: 900px;
    color: #f4f4f4;
}
.relatoPessoal {
    display: none;
    width: 60%;
    margin: auto;
    border: 3px solid #efa331; 
    padding: 30px 40px;
}
.relatoPessoal legend {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}
.relatoPessoal legend img {
    border-radius: 50%;
}
.relatoPessoal legend h3 {
    margin-left: 20px;
    font-weight: 300;
}
.canecaPassador {
    text-align: center;
    margin-top: 10px;
}

#prev, #next {
    cursor: pointer; 
    position: absolute;
    top: 50%;
    width: auto;
    font-weight: 600;
    font-size: 2rem;
    user-select: none;
}

#next {
    right: 0;
}

#prev:hover, #next:hover {
    color: #efa331;
}


.dot {
    cursor: pointer;
    fill: white;
}
.dot:hover {
    fill: #efa331;
}

/* Call to action */
.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
.duvidas h2 {
    text-align: center;
    color: #efa331;
    font-size: 2rem;
    margin-bottom: 30px;
}
.duvidas button {
    color: white;
    font-weight: 700;
    font-size: 26px;
    text-align: right;
    background-color: #EFA331;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
    border-radius: 8px;


}

/* Footer */
.footer {
    background: url(./cafe-assets/laptop-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: linear-gradient(110deg, #1b1717 5%, #1d1d1d 15%, #453535 80%);
    

    height: 400px;
}
.foot {
    height: 100%;
    backdrop-filter: blur(3px) grayscale(40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;

}
.redes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 281px;

    height: 100%;
}
.redes a {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/

    display: flex;
    justify-content: space-around;
    width: 200px;
}
.bolinha{
    width: 105px;
    height: 105px;
    background-color: #efa331;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bolinha img {
    height: 50px;
    width: auto;
}
.footer p {
    color: #3e1705;
    font-weight: 600;
    background-color: #efa331;
    padding: 10px 15px;
    border-radius: 5px;

}