@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
/* Resetando o layout inicial do HTML */
* {
    margin: 0px; /* Tira a margem */
    padding: 0px;
}
body {
    font: 500 1rem "Montserrat", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none; /* tirar o sublinhado */
}
img {
    display: block; 
    max-width: 100%; /* Aumenta sem perder a qualidade */
    overflow-clip-margin: content-box;
    overflow: clip;
}
* {
    box-sizing: border-box; /* Soma ao tamanho interno */
}
.grandeCafe {
    height: 671px;
    background-image: url(./cafe-assets/cup-coffee-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.backgroundCafe {
    height: 671px;
    background-color: rgba(30, 30, 30, 0.5);
}
.menuItem {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
/* tentativa de mexer com o círculo que tem aqui */
.menuLogo {
    width: 50px;
    height: 50px;
    background-color: #efa331;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menuLogo img {
    height: 30px;
    width: auto;
}

.menuNav ul {
    display: flex;
    flex-wrap: wrap;
}
.menuNav ul li {
    font-weight: 600;
    font-size: 1rem;
}
.menuNav a {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px;
    color: #EFA331;
}
.menuNav a:hover {
    color: #f4f4f4;
}
.buttonMenu {
    font-size: 24px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    line-height: 20px;
    text-align: center;
    background-color: #EFA331;
    color: #f4f4f4;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 10px 15px;
    border-radius: 5px;

}
.corpoCafe {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-items: flex-end;
    font-size: 1.2rem;
    text-align: right;
    margin-right: 55px;
    color: white;
    /*padding: 3.75rem;*/
    padding: 100px 30px 0 0;

    height: 50%;
    max-height: 00px;


}
.corpoCafe h1 {
    display: block;
    /*flex-wrap: wrap;*/
    text-align: right;
    /*max-width: 1024px;*/
    padding-left: 200px;
    font-family: 'Montserrat';
    font-size: 2.25em;
    font-weight: 800;
    text-transform: uppercase;
    color: #EFA331;
}

.corpoCafe h2 {
    display: block;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.35rem;
    text-align: right;
    margin-top: 10px;

    color: #FFFFFF;
}

.grandeCafe {
    display: block;
    align-items: flex-end;
}

.fimCapa {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
}
.fimCapa h2 {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.35rem;
    line-height: 29px;
    text-align: right;
    margin-top: 200px;

    color: #FFFFFF;
}
.fimCapa button {
    /*position: absolute;
    width: 224px;
    height: 52px;
    left: 1000px;
    top: 472px;
*/
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    background-color: #EFA331;
    color: #f4f4f4;
    margin: 0 20px;
    cursor: pointer;
    border: 0px;
    padding: 10px;
    border-radius: 8px;
}

.back {
    flex-wrap: wrap;
    background: linear-gradient(110deg, #1b1717 5%, #1d1d1d 15%, #453535 80%);
    height: 2000px;
}



.beneficios h2 {
    margin-bottom: 1rem;
    display: block;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: #f4f4f4;
    padding-top: 30px;
}

.ben {
    display: flex;
    padding: 60px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}

.beneficios1 {
    /*flex-wrap: wrap;*/
    border: 4px solid #EFA331;
    background: #EFA331;
    /*padding: 15px 10px;*/
    margin: 10px;
    width: 234px;
    height: 322px;
    top: 835px;
    left: 101px;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    justify-content: center; 

}

.beneficios1 h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;

    width: 214px;
    height: 29px;
    left: 111px;
    top: 875px;

    margin: 25px auto;
}

.beneficios1 img {
    height: 40px;
    width: auto;

    margin-left: 90px;
}

.beneficios1 p {
    
    padding: 0 25px;
    margin: 30px 0;
    font-size: 1.15rem;
    font-weight: 500;

    
}

.subtitulo {
    text-align: center;
    font-size: 1.3rem;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    color: #f4f4f4;
}


.pq h2 {
    margin-bottom: 1rem;
    display: block;
    font-weight: bold;
    align-items: center;
    text-align: center;
    color: #f4f4f4;
    padding-top: 30px;
}

.card-Pq {

    display: flex;
    padding: 60px 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    
    align-items: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center; 
    max-width: 850px;
    left: 100px;
}

.card div {
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.num {
    box-sizing: border-box;

    position: absolute;
    width: 47px;
    height: 47px;
    top: 1360px;


    border: 4px solid #EFA331;
    border-radius: 10px;

    justify-content: space-around;

    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 600;
    font-family: "Montserrat";
}

.motivo {
    color: white;
    font-size: 24px;
    font-weight: 700;

    position: absolute;
    width: 186px;
    height: 29px;
    top: 1427px;

}

.card ul li {
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: space-around;

    

}

.card ul li::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: #EFA331;
    border-radius: 50%;
 }

.card img {
    /*width: 263.87px;
    height: 263px;
    left: 691px;*/
    top: 1600px;
    width: 90%;

    background: url(./cafe-assets/tirinha.png);
}

.duvidas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}
/* Call to action */
.duvidas h2 {
    text-align: center;
    color: #efa331;
    font-size: 2rem;
    margin-bottom: 30px;

}

.duvidas button {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-align: right;

   
    /*text-transform: uppercase;*/
    background-color: #EFA331;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
    border-radius: 8px;


}

/* Footer */
.footer {
    background: url(./cafe-assets/laptop-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: linear-gradient(110deg, #1b1717 5%, #1d1d1d 15%, #453535 80%);
    

    height: 400px;
}
.foot {
    height: 100%;
    backdrop-filter: blur(3px) grayscale(40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;

}
.redes {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 281px;

    height: 100%;
}
.redes a {
    /*display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;*/

    display: flex;
    justify-content: space-around;
    width: 200px;
}

.bolinha{
    width: 105px;
    height: 105px;
    background-color: #efa331;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bolinha img {
    height: 50px;
    width: auto;
}


.footer p {
    color: #3e1705;
    font-weight: 600;
    background-color: #efa331;
    padding: 10px 15px;
    border-radius: 5px;

}